@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "poppins";
    box-sizing: border-box;
}

body{
    background: url(assets/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 150%;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.glass{
    scale: 1.1;
    border: 1px solid white;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.203);
    backdrop-filter: blur(6px);
    width: 250px;
    height: 400px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.413);
}

.creds{
    display: flex;
    align-items: center;
}
.pfp{
    margin: 10px;
    border: 1px solid white;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-image: url(assets/fatima.jpg);
    background-size: cover;
    scale: 0.7;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.413);
}
h1{
    margin-left: -15px;
    color: white;
    font-size: 16px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.413);
}
i{
    color: white;
    scale: 1.8;
    margin:8px 15px;
}

.info h1{
    margin-left: 0;
    font-size: 14px;    
}
.info{
    margin: 05px 10px;
    display: flex;
    align-items: center;
}
.socials i{
    font-size: 15px;
    margin: 10px ;
}
.socials{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
#insta,#snap,#wp,#ln{
    transition: all 0.2s ease;
}
#insta:hover{
    color: magenta;
    scale: 2.2;
}
#snap:hover{
    color: rgb(238, 255, 0);
    scale: 2.2;
}
#wp:hover{
    color: lime;
    scale: 2.2;
}
#ln:hover{
    color: dodgerblue;
    scale: 2.2;
}

@media (min-width: 600px){
    body{
        background-image: url(assets/bg_h.jpg);
    }
    .glass{
        scale: 1.4;
    }
}
